## Exercises - Constrained Optimization

### Data Processing

In [3]:
# NOTE: !!! THIS CELL SHOULD BE RUN FIRST !!!

# Jupyter notebooks have a bad interaction with virtual environments: 
# they perceive the PYTHONPATH as the folder the venv was activated
# instead of whatever the current directory of the .ipynb file is
# so we need to incorporate this hack

import sys

filepath = "/Users/colinyao/Desktop/Code/FINM/Portfolio_36700/HW/PortfolioRiskHW/HW2"
# change this path to whatever the path to this file is on your computer
sys.path.append(filepath)

import os
os.chdir(filepath)

In [4]:
import pandas as pd

# Input names for files and sheets
INFILE = 'data/spx_returns_weekly.xlsx'
SHEET_INFO = 's&p500 names'
SHEET_RETURNS = 's&p500 rets'
SHEET_BENCH = 'benchmark rets'

# Weekly frequency
FREQ = 52

# Tickers of interest
TICKS =  ['AAPL','NVDA','MSFT','GOOGL','AMZN','META','TSLA','AVGO','BRK/B','LLY']
TICK_ETF = 'SPY'

In [6]:
info = pd.read_excel(INFILE,sheet_name=SHEET_INFO)
info.set_index('ticker',inplace=True)
temp_mkt_cap = info.loc[TICKS].copy()
temp_mkt_cap['mkt cap'] /= 1e9
temp_mkt_cap.rename(columns={'mkt cap':'mkt cap (billions $)'},inplace=True)
temp_mkt_cap.style.format({'mkt cap (billions $)':'{:,.0f}'})

In [7]:
# Get returns data for the tickers of interest
rets = pd.read_excel(INFILE,sheet_name=SHEET_RETURNS)
rets.set_index('date',inplace=True)
rets = rets[TICKS]

In [8]:
# Get benchmark returns (SPY)
bench = pd.read_excel(INFILE,sheet_name=SHEET_BENCH)
bench.set_index('date',inplace=True)
rets[TICK_ETF] = bench[TICK_ETF]

### Risk Return Metrics

In [9]:
# Define a function to compute performance metrics
import numpy as np

def performanceMetrics(returns, annualization=1, quantile=.05):
    """Compute performance metrics for a set of asset returns
    """
    metrics = pd.DataFrame(index=returns.columns)
    metrics['Mean'] = returns.mean() * annualization
    metrics['Vol'] = returns.std() * np.sqrt(annualization)
    metrics['Sharpe'] = (returns.mean() / returns.std()) * np.sqrt(annualization)
    metrics['Min'] = returns.min()
    metrics['Max'] = returns.max()
    return metrics

In [10]:
# Get performance metrics for the assets
mets = performanceMetrics(rets, annualization=FREQ)
mets.style.format('{:.1%}')

### Constrained Optimization

Continue working with the data above. Suppose we want to constrain the weights such that

- there are no short positions beyond negative `20%`, for all
- none of the positions may have weight over `35%`, for all .
- all the asset weights must sum to 1

Furthermore,

- The targeted mean return is `20%` per year.
- Be careful; the target is an annualized mean.

In [11]:
import numpy as np
import pandas as pd
from scipy.optimize import minimize

# Prepare the inputs for optimization

FREQ = 52 # weekly to annual
mean = rets.mean() * FREQ
cov = rets.cov() * FREQ
TARGET_MEAN = 0.20  # 20% per year
N = len(mean)

# Initial guess (equal weights)
w0 = np.ones(N) / N

# Define the objective function
def objective(w):
    return w.T @ cov @ w

# Equality constraints
def fun_constraint_capital(w):
    return np.sum(w) - 1

def fun_constraint_mean(w):
    return (mean @ w) - TARGET_MEAN

constraint_capital = {'type': 'eq', 'fun': fun_constraint_capital}
constraint_mean = {'type': 'eq', 'fun': fun_constraint_mean}

constraints = ([constraint_capital, constraint_mean])

# Bounds for inequality constraints
bounds = [(-0.20, 0.35) for _ in range(N)]

#### **1.1.**

Report the weights of the constrained portfolio.

Report the mean, volatility, and Sharpe ratio of the resulting portfolio.

In [12]:
opt = minimize(
    objective,
    w0,
    bounds=bounds,
    constraints=constraints,
    method='SLSQP',
    tol=1e-12
)

if opt.success:
    print('Optimization SUCCESSFUL.')
else:
    print('Optimization FAILED.')

print(f'Iterations: {opt.nit}.')

w_constrained = opt.x

port_mean = mean @ w_constrained
port_vol = np.sqrt(w_constrained.T @ cov @ w_constrained)
port_sharpe = port_mean / port_vol

results_constrained = pd.Series({
    'Mean': port_mean,
    'Volatility': port_vol,
    'Sharpe': port_sharpe
})

pd.DataFrame({'Bounded Weights': w_constrained}, index=mean.index) \
    .sort_values('Bounded Weights', ascending=False) \
    .style.format("{:.2%}")

Optimization SUCCESSFUL.
Iterations: 35.

#### **1.2.**

Compare these weights to the assets’ Sharpe ratios and means.

Do the most extreme positions also have the most extreme Sharpe ratios and means?

Why?

In [13]:
pd.DataFrame({
    'Mean': mets['Mean'],
    'Sharpe': mets['Sharpe'],
    'Bounded Weights': w_constrained
    }) \
    .sort_values('Sharpe', ascending=False) \
    .style.format("{:.2%}")

The most extreme position does NOT necessarily have the most extreme Sharpe ratios and means. A high Sharpe ratio asset can still get a small (or even negative) weight if it is highly correlated with other assets, i.e. its marginal contribution to diversification is low. This is because the mean-variance optimizer values diversification, not just individual performance.

#### **1.3**

Compare the bounded portfolio weights to the unbounded portfolio weights (obtained from optimizing without the inequality constraints, keeping the equality constraints.)

Report the mean, volatility, and Sharpe ratio of both

In [14]:
# Unbounded Portfolio
opt_unbounded = minimize(
    objective,
    w0,
    constraints=constraints,
    method='SLSQP',
    tol=1e-12
)

if opt_unbounded.success:
    print('Optimization SUCCESSFUL.')
else:
    print('Optimization FAILED.')

print(f'Iterations: {opt_unbounded.nit}.')

w_unbounded = opt_unbounded.x

port_mean_unbounded = mean @ w_unbounded
port_vol_unbounded = np.sqrt(w_unbounded.T @ cov @ w_unbounded)
port_sharpe_unbounded = port_mean_unbounded / port_vol_unbounded

results_unbounded = pd.Series({
    'Mean': port_mean_unbounded,
    'Volatility': port_vol_unbounded,
    'Sharpe': port_sharpe_unbounded
})

Optimization SUCCESSFUL.
Iterations: 40.

In [15]:
# Compare bounded vs unbounded
compare_weights = pd.DataFrame({
    'Bounded Weighs': w_constrained,
    'Unbounded Weights': w_unbounded,
    'Sharpe Ratio': mets['Sharpe']
}, index=mean.index)

compare_weights = compare_weights.sort_values('Sharpe Ratio', ascending=False)

compare_weights.style.format({
    'Bounded Weights': '{:.2%}',
    'Unbounded Weights': '{:.2%}',
    'Sharpe Ratio': '{:.2%}'
})

In [16]:
pd.concat([results_constrained, results_unbounded], axis=1,
           keys=['Bounded', 'Unbounded']).style.format("{:.2%}")